PROJECT_NAME=Saknny API
SECRET_KEY=change_this_for_local_or_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

DATABASE_URL=postgresql://saknny_admin:saknny_secret_2026@localhost:5433/saknny
AUTO_CREATE_TABLES=false

UPLOAD_DIR=uploads/verification_docs

FIREBASE_ENABLED=true
FIREBASE_PROJECT_ID=saknny-dev
FIREBASE_CREDENTIALS_PATH=C:\Users\ACER\Downloads\Sakkny\secrets\saknny-dev-firebase-adminsdk.json

UNIVERSITY_TIMEZONE=Africa/Cairo
